$primary: #29184A;
$secondary: #0EAFD2;
$dark: #1E0F3C;
$clear: #FFF;
$padding: 20px;
$font: Quicksand, Arial, Tahoma;

@mixin texto($font, $size, $align, $line, $color) {
    font: $size $font;
    text-align: $align;
    line-height: $line;
    color: $color;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background: url(../imagens/bg.jpg) no-repeat fixed;
}

.header {
    width: 100%;
    padding: $padding;
    background: $primary;
    box-sizing: border-box;
    & &-img {
        width: 150px;
    }
    & &-nav {
        float: right;
        margin-top: $padding;

        ul {
            list-style: none;
            li {
                display: inline-block;
                padding: $padding;
            }
        }
    }

    & &-link {
        color: $secondary;
        font-size: 1.5em;
        position: absolute;
        transition: all 0.5s;
        &:hover {
            margin-top: -5px;
        }
    }
}

.banner {
    text-align: center;
    & &-title {
        @include texto($font, 2em, center, 30px, $secondary);
    }
}

.btn {
    @include texto($font, 1.5em, center, 30px, $primary);
    background: $secondary;
    text-decoration: none;
    padding: $padding;
    margin: $padding;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.5s;
    &:hover {
        background: $clear;
    }
}

section {
    padding: 50px 0;
}

.container {
    width: 1000px;
    margin: auto;
}

.autor {
    background: $dark;
    & &-img {
        width: 150px;
        float: left;
        margin: $padding;
    }

    h1 {
        @include texto($font, 2em, center, 30px, $secondary);
        font-weight: bold;
    }

    p {
        @include texto($font, 1.2em, justify, 30px, $clear);
        margin: $padding;
    }
}

.curso {
    background: $secondary;
    h1 {
        @include texto($font, 2em, center, 20px, $primary);
        font-weight: bold;
    }
    p {
        @include texto($font, 1.2em, center, 30px, $clear);
        margin: $padding;
    }
}

.footer {
    text-align: center;
    padding: $padding;
    p {
        @include texto($font, 1em, center, 30px, $clear);
    }
    & &-img {
        width: 150px;
    }
}

@media ( max-width: 420px ) {
    .container {
        width: 100%;
        padding: $padding;
        box-sizing: border-box;
    }
}